<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE tiles-definitions PUBLIC "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN" "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>
	
	<definition name="${strictPath}/list/index" extends="${group}.layout">
		<put-attribute type="string" name="title" value="${table.comment}管理" />
		<put-attribute type="template" name="body"
			value="/WEB-INF/view/${strictPath}/list/index.jsp" />
		<put-list-attribute name="scripts" inherit="true">
			<add-attribute value="/js/${strictPath}/list.js" />
		</put-list-attribute>
	</definition>
	
	<definition name="${strictPath}/edit/index" extends="${group}.layout">
		<put-attribute type="string" name="title" value="${table.comment}编辑" />
		<put-attribute type="template" name="body"
			value="/WEB-INF/view/${strictPath}/edit/index.jsp" />
		<put-list-attribute name="scripts" inherit="true">
			<add-attribute value="/js/${strictPath}/edit.js" />
		</put-list-attribute>
	</definition>
	
	<definition name="${strictPath}/detail/index" extends="${group}.layout">
		<put-attribute type="string" name="title" value="${table.comment}详情" />
		<put-attribute type="template" name="body"
			value="/WEB-INF/view/${strictPath}/detail/index.jsp" />
		<put-list-attribute name="scripts" inherit="true">
			<add-attribute value="/js/${strictPath}/detail.js" />
		</put-list-attribute>
	</definition>
	
</tiles-definitions>
