package ${base}.controller;

import java.util.Map;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import javax.servlet.http.HttpSession;
import javax.validation.Valid;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.ModelMap;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;

import com.jinpaihushi.controller.BaseController;
import com.jinpaihushi.service.BaseService;
import ${base}.model.${bean.name};
import ${base}.service.${bean.name}Service;
import com.jinpaihushi.utils.PageInfos;
import com.github.pagehelper.Page;

/**
 * 
 * @author $!author
 * @date #date
 * @version $!version
 */
@Controller
@RequestMapping(name = "${bean.name}", path = "/${path}")
public class ${bean.name}Controller extends BaseController<${bean.name}> {

	@Autowired
	private ${bean.name}Service ${bean.alias}Service;

	@Override
	protected BaseService<${bean.name}> getService() {
		return ${bean.alias}Service;
	}

	@RequestMapping(name = "列表页", path = "/index.jhtml")
	public String index(HttpSession hs, HttpServletRequest req,
			HttpServletResponse resp, ModelMap modelMap,
			${bean.name} ${bean.alias}, Integer p, Integer n) {
		startPage(p, n);
		Page<${bean.name}> list = ${bean.alias}Service.query(${bean.alias});
		PageInfos<${bean.name}> pageInfo = new PageInfos<${bean.name}>(list, req);
		modelMap.put("list", list);
		modelMap.put("pageInfo", pageInfo);
		return "${location}/list";
	}

	@RequestMapping(name = "详情页", path = "/detail.jhtml", method = RequestMethod.GET)
	public String detail(HttpSession hs, HttpServletRequest req,
			HttpServletResponse resp, ModelMap modelMap, String id) {
		${bean.name} ${bean.alias} = ${bean.alias}Service.loadById(id);
		return "${location}/detail";
	}
	

}
